<div id="<%= dom_id aplication %>">
  <p>
    <strong>Text:</strong>
    <%= aplication.text %>
  </p>

  <p>
    <strong>Job offer:</strong>
    <%= aplication.job_offer_id %>
  </p>

  <p>
    <strong>Tuser:</strong>
    <%= aplication.tuser_id %>
  </p>

</div>
