<h1>Editing aplication</h1>

<%= render "form", aplication: @aplication %>

<br>

<div>
  <%= link_to "Show this aplication", @aplication %> |
  <%= link_to "Back to aplications", aplications_path %>
</div>
