
<div class="container-fluid home">
<div class="d-inline container" >
    <h1 class="texto-uno container">Bienvenidos</h1>
    <h4 class="texto-dos container"> al portal de trabajos</h4>
</div>

<div class="link-portal">
<%= link_to 'PORTAL TRABAJO', job_offers_path , class:"link-portal"%>
</div>

</div>
