<div id="<%= dom_id job_offer %>">
  <p>
    <strong class="etiqueta">Puesto:</strong>
    <span class="data1"><%= job_offer.title %></span>
  </p>

  <p>
    <strong class="etiqueta">Descripción:</strong>
    <span class="data"><%= job_offer.description %></span>
  </p>
</div>