<body class="body-new-job">

<h1 class="titulo-nuevo">Nuevo Puesto</h1>

<%= render "form", job_offer: @job_offer %>

<br>

<div>
  <%= link_to " ◀ Volver a ofertas", job_offers_path, class:"link-vuelta-nuevo"%>
</div>

</body>